server {
    listen 80;
 
    server_name ${PrimaryDomain} ${SubDomain};
    
    location ^~ /.well-known/acme-challenge/ {
        alias /var/www/certbot/;
	    default_type "text/plain";
        autoindex on;
        dav_access all:r;
    }

    location / {
        rewrite ^ https://$host$request_uri? permanent;
    }
}